body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.home-wrapper {
  display: flex;
  padding-top: 30px;
  padding-bottom: 300px;
  justify-content: space-around;
}

.left-home {
  margin-left: 40px;
}

.right-home {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
}

#mapid {
  margin-top: 30px;
}

.home-wrapper > .MuiContainer-root {
  padding: 0px;
  margin-bottom: 25px;
}

#mapid { height: 700px; }

.leaflet-container {
  height: 100%;
}

.rotating-art-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

#app .purchase-button {
  margin-top: 25px;
}

.rotating-art-container > .MuiPaper-root {
  width: fit-content;
}

#art {
  width: 254px;
  height: 260px;
}

#museum {
  height: 500px;
}

.logo {
  padding: 10px;
}

.museum-info-wrapper {
  margin-bottom: 20px;
}

.leaflet-container {
  margin-top: 20px;
}
